apiVersion: documentdb.io/preview
kind: DocumentDB
metadata:
  name: ${NAME}
  namespace: ${NAMESPACE}
spec:
  clusterReplication:
    crossCloudNetworkingStrategy: "None"
    disableTLS: true
    primary: "${REPL_PRIMARY}"
    clusterList:
      - name: "${REPL_MEMBER_1}"
      - name: "${REPL_MEMBER_2}"
